<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Login Screen (Launcher) -->
        <activity
            android:name="com.example.activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Customer Registration -->
        <activity
            android:name="com.example.activity.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication" />

        <!-- Customer Menu & Ordering -->
        <activity
            android:name="com.example.activity.CustomerMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <!-- Kitchen Staff Dashboard -->
        <activity
            android:name="com.example.activity.KitchenDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <!-- College Admin Console -->
        <activity
            android:name="com.example.activity.CollegeAdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <!-- Super Admin & System Console -->
        <activity
            android:name="com.example.activity.SuperAdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

    </application>

</manifest>
